@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

strong{
  color: #454246;
}

bottom{
  display: none;
}

h1{
  font-size: 35px;
  line-height: 45px;
  margin-right: 10px;
}

header {
  padding-bottom: 20px;
  background: #f52957 ;
  color: white;
  animation-name: header__animation;
  animation-duration: 1.5s;
  box-shadow: 3px 10px 5px -6px grey;
}

header figure {
  text-align: center;
  margin-bottom: 30px;
}

header figure img {
  border-radius: 50%;
  width: 60%;
}

header p{
  font-size: 28px;
}

.menu__item{
  display: block;
  padding: 20px;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  color: white;
}

ul {
  list-style:none;
}

.menu__item:hover{
  background: white;
  color: #f52957;
}

.alingLeft{
  text-align: left;
  padding-left: 50px
}

.irTwitter{
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: underline;
  color: white;
}

/*----------------------------------------------*/
/*  Movil fixed*/
/* Se le agrega al header cuando llega a pocisión */

.fixed{
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 60px;
  animation-name: fixed__animation;
  animation-duration: 0.8s;
}

.fixed figure, .fixed img{
  width: 45px;
  text-align: left;
  margin-top: 1px;
  margin-left: 10px;
  position: relative;
  display: inline-block;
}

.fixed p,  .fixed a[class="alingLeft irTwitter"] {
  display: none;
}

.fixed h1{
  padding: 0;
  padding-top: 6px;
  position: absolute;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
}

/* este .fixed se lo coloca js */
.fixed bottom{
  margin-top: 8px;
  padding: 11px;
  text-align: center;
  position: absolute;
  display: inline-block;
  right: 10px;
  border: 0;
}

.fixed bottom:hover{
  background: white;
  color: #f52957;
}

.menu{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba( 245, 41, 87);
  top: 59px;
  transform: translateX(-100%);
  transition: all 0.4s;
}

.mostrar__menu {
  transform: translateY(0%);
}

.ocultar__menu{
  transform: translateX(-100%);
}

@keyframes fixed__animation {
  from {
    transform: translateY(-45px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes header__animation {
  from {
    transform: translateY(-45px);
  }
  to {
    transform: translateY(0px);
  }
}

.contenido{
  animation-name: contenido__animation;
  animation-duration: 0.4s;
}

@keyframes contenido__animation {
  from {
    transform: translateY(-60px);
  }
  to {
    transform: translateY(0px);
  }
}


 /* --------------------------------------- */
 /*  About me*/
 .text{
   padding: 5em 1em 5em 1em;
   font-family: 'Ubuntu', sans-serif;
   text-align: inherit;
   color: #3B393C;
 }
 .about__flex {
   display: flex;
   align-items: center;
 }
 .about__me{
  min-height: 100vh;
 }
 .about__me p, #skills p li{
   font-size: 1.2em;
   padding-top: 1.2em;
 }
 .about__me h2, #skills h2, #briefcase h2, #contact h2{
  font-size: 2.4em;
  padding-bottom: .5em;
  text-align: center;
 }




/* ------------------------------------ */
/* SKILLS */
.container{
  display: flex;
  flex-wrap: wrap;
}

.card{
  margin-top: 1.5em;
  padding-bottom: 1.9em;
  width: 100%;
  box-shadow: 3px 10px 5px -5px grey;
  border-radius: 20px;
  text-align: center;
  border: 1px solid #EDEDED;
}
.card img{
  width: 100px;

}

#skills h3, #briefcase h3{
  width: 100%;
  font-size: 1.7em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  text-decoration: underline;
}

#skills h4{
  font-size: 1.4em;
  padding: .8em 0 .2em 0;
  text-align: center;
}

#skills h5{
  font-size: 1.1em;
  padding: 2em 0 .2em 0;
  text-align: center;
}
#skills li, p{
  padding-top: .3em;
  padding: .3em 1em 0 1em;
}

.gris{
  background: #f2f2f2;
}
.color__img{
  padding: 1em 0 1em 0;
  border-radius: 20px 20px 0 0;
}
.amarillo{
  background: #e4ba42;
}
.morado{
  background: #8f9ed1;
}
.negro{
  background: #222123;
}
.card img{
  border: 3px solid white;
  border-radius: 50%;
}

/* ------------------------------ */
/*  Carrusel */
.carrusel{
  margin-top: 2em;
  width: 100%;
  overflow: hidden;
}

.owl-carousel{
  margin-bottom: 1.5em;
}

span[aria-label="Previous"]{
  padding: 10px 20px 10px 20px;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 2px;
  background: rgba( 211, 211, 211, 0.6);
}

span[aria-label="Previous"]:hover{
  background: rgba( 223, 223, 223, 0.6);
}

span[aria-label="Next"]{
  padding: 10px 20px 10px 20px;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  right: 2px;
  background: rgba( 211, 211, 211, 0.6);
}

span[aria-label="Next"]:hover{
  background: rgba( 223, 223, 223, 0.6);
}



/* ------------------------------ */
/*  footer */

#contact{
  background: #f2f2f2;
  height: 800px;
}

.redes{
  padding-top: 1em;
  text-align: center;
}
.redes a{
  text-decoration: none;
  color:#3B393C;
  font-size: 1.5em;
  padding: 0 .5em 0 0;
  text-align: center;
}

.contacto{
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0 2em 0;
}
.contacto a{
  width: 100%;
  text-align: center;
  margin-top: 1em;
  text-decoration: none;
  color: #3B393C;
  font-size: 1.1em;
}

.formulario{
  display: flex;
  flex-wrap: wrap;
}
.formulario input, .formulario textarea{
  width: 100%;
  padding: 0.5em;
  border: 0;
  margin-top: 1.5em;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  outline: 0;
}

/* -------------------------------------------- */

/* tablets */
@media (min-width:650px) {
  .container{
    display: flex;
    justify-content: space-around;
  }
  .card{
    width: 300px;
  }
}

/* Escritorio */
@media (min-width:1024px) {
  header{
    padding-bottom: 20px;
    background: #f52957 ;
    color: white;
    animation-name: none;
    animation-duration: none;
    position: fixed;
    width: 25%;
    height: 100vh;
  }

  header figure {
    margin-bottom: 10px;
  }
  header figure img {
    width: 150px;
  }

  h1{
    font-size: 25px;
    line-height: 30px;
    margin-right: 10px;
  }

  header p{
    padding: 0;
    font-size: 20px;
  }

  .irTwitter{
    margin-top: 5px;
    font-size: 16px;
  }

  .menu__item{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  .alingLeft{
    text-align: left;
    padding-left: 50px
  }

  .contenido, footer{
    margin-left: 25%;
  }

  footer div, footer form{
    padding: 0 2em 0 2em;
  }

  .carrusel h4, .carrusel ul{
    padding: 0 1em 0 1em;
  }

  input[type="submit"]{
    cursor: pointer;
  }

  .container{
    display: flex;
    justify-content: space-around;
  }
  .card{
    width: 350px;
  }
}

/* Pantallas l */
@media (min-width:1350px) {
  .container{
    display: flex;
    justify-content: space-around;
  }
  .card{
    width: 400px;
  }

  header figure {
    margin-bottom: 20px;
  }
  header figure img {
    width: 200px;
  }

  h1{
    font-size: 28px;
    line-height: 28px;
    margin-right: 10px;
  }

  header p{
    padding: 0;
    font-size: 23px;
  }

  .irTwitter{
    margin-top: 10px;
    font-size: 20px;
  }

  .menu__item{
    padding: 10px;
    font-size: 25px;
  }
  .alingLeft{
    text-align: left;
    padding-left: 50px
  }
}

/* Pantallas l */
@media (min-width:1500px) {
  .container{
    display: flex;
    justify-content: space-around;
  }
  .card{
    width: 450px;
  }
}
