// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'datatables.net-bs5';

// Vue Select
@import 'vue-select/dist/vue-select.css';

// Icons
@import '~/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~/@fortawesome/fontawesome-free/scss/solid';

// Components
@import 'sidebar';
@import 'table';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
	background-color: rgb(216, 214, 214);
}

.body{
	height: 100vh;
	overflow-y: auto;
}

.c-red{
	color: red;
}



