.admin{
	width: 30%;
	&-body{
		margin: 1rem 2rem 1rem 2rem;
	}

	&__sidebar {
		margin: 0;
		padding: 0;
		height: 100vh;
		&-container{
			height: 100vh;
			max-width: 300px;
			margin: 0;
			padding: 0;
		}
		&-logo{
			padding: 15px 0 0px 20px;
		}
		&-container-menu{
			height: 100vh;
		}
		&-menu{
			overflow-x: hidden;
			overflow-y: auto;
			&::-webkit-scrollbar {
					width: 14px;
					height: 18px;
			}
			&::-webkit-scrollbar-thumb {
					height: 6px;
					border: 4px solid rgba(0, 0, 0, 0);
					background-clip: padding-box;
					border-radius: 7px;
					background-color: rgba(0, 0, 0, 0.15);
					box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
			}
			&::-webkit-scrollbar-button {
					width: 0;
					height: 0;
					display: none;
			}
			&::-webkit-scrollbar-corner {
					background-color: transparent;
			}
			&-item{
				width: 100%;
			}
		}

		&-menu, &-footer{
			padding: 0 0 10px 15px;
		}
	}
}